ENVIRONMENT=development
ECR_REPOSITORY_NAME=cohere-rerank-v3-ecr-repository
APP_NAME=cohere-rerank-v3
IMAGE_VERSION=latest
DOCKERFILE_NAME=Dockerfile
PLATFORM=LINUX_ARM64 # LINUX_AMD64
PORT=8090
CDK_DEPLOY_REGION=ap-southeast-1

COHERE_API_KEY=
COHERE_RERANK_MODEL=embed-english-v3.0

CPU_TYPE=ONE_VCPU
MEMORY_TYPE=TWO_GB
