llama-index-llms-cohere==0.1.6
llama-index-embeddings-cohere==0.1.5
llama-index==0.10.27
llama-index-core==0.10.27
nest_asyncio==1.6.0
openai==1.16.2
pillow==10.3.0
PyMuPDF==1.24.1
tiktoken==0.6.0
llama_parse==0.4.0
llamaindex_py_client==0.1.16
uvicorn==0.28.0
fastapi==0.110.1
starlette==0.37.2
